# Oracle Autonomous Database Credentials
DB_USER=admin
DB_PASSWORD=YourStrongPassword
DB_CONNECTION_STRING=hrms_tp_high

# Oracle Wallet Path (if using Thick Driver)
# DB_WALLET_PATH=/opt/oracle/wallet

# Server Configuration
PORT=3001
JWT_SECRET=hrms_super_secret_key_2026

# Production Settings
NODE_ENV=development
